<h1>My tasks</h1>
<p><% @tasks.each do |task| %>
  <li> <% if task.completed == true %>
    <i class="far fa-check-square"></i>
    <% else %>
    <i class="far fa-square"></i>
    <% end %>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "Delete", task_destroy_path(task), method: :delete,
    data: { confirm: "Are you sure?" }%>
    </li>
  <p><% end %></p>
</p>

<%= link_to "Add a new task", tasks_new_path %>
